<div [ngClass]="cn('@')">
    <div [ngClass]="cn('@', 'main')">
        <div [ngClass]="cn('@', 'icon')">
            <img src="https://via.placeholder.com/50" alt="">
            <div class="header-title text-test">Hott</div>
        </div>
        <nav >
            <ul [ngClass]="cn('@', 'nav')">
                <li><a href="#">Food delivery</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Our cities</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
        </nav>
    </div>
</div>